<div class="container mt-4 full-screen-mobile">
  <h2 class="mb-3">Lista de Clientes</h2>

  <div class="list-group">
    <div *ngFor="let client of clients" class="list-group-item list-group-item-action" (click)="onSelect(client)">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <span class="me-2 fs-4">
            <ng-container *ngIf="client.tipoParticipe === 'natural'">👤</ng-container>
            <ng-container *ngIf="client.tipoParticipe === 'mancomunado'">👥</ng-container>
          </span>
          <div>
            <h5 class="mb-1">{{ client.nombre }}</h5> 
            <p class="mb-0 text-muted">
              Código: {{ client.codigo }} | 
              {{ client?.tipoParticipe === 'natural' ? 'Individual' : 'Mancomunado' }}
            </p> 
          </div>
        </div>
        <div class="fs-4 fw-bold">&gt;</div> <!-- Flecha ">" -->
      </div>
    </div>
  </div>
</div>
